* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1A1814;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 10vmin;
    padding: 5vh 0vw;
    color: #DA9100;
}

/* Nav */

nav {
    z-index: 999;
    margin-bottom: 30px;
    position: sticky;
    top: 0px;
    padding: 0.5vw;
    background-color: #100f0d7f;
    border: 3px solid #d69f727a;
}

ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5vw;
    padding: 1vw;
}

li a {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;

    color: white;
    text-decoration: none;
    font-size: 3vw;
    font-style: bold;
    font-family: 'Tangerine', cursive;

    transition: ease 0.5s;
    border: 10px solid #355E3B;
    background-color: #355E3B;
}

li a:hover {
    border: 10px solid white;
    background-color: white;
    color: #355E3B;
}

#ContactButton {
    border: 10px solid #DA9100;
    background-color: #DA9100;
}

#ContactButton:hover {
    border: 10px solid white;
    background-color: white;
    color: #DA9100;
}

/* Schools */

.School {
    margin-bottom: 100px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.row img {
    width: 40vw;
    height: 40vw;
    border-radius: 100%;
    opacity: 70%;
    transition: ease 0.5s;
}

.row img:hover {
    opacity: 100%;
}

.row p {
    width: 40%;
    color: #D69F72;
    font-size: 1.5vw;
    font-family: 'Nunito', sans-serif;
    opacity: 70%;
    transition: ease 0.5s;
}

.row p:hover {
    opacity: 100%;
}

#BeaconhousePara2 {
    width: 50%;
    padding-top: 100px;
    margin: auto;
    color: #D69F72;
    font-size: 1.5vw;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    opacity: 70%;
    transition: ease 0.5s;
}

#BeaconhousePara2:hover {
    opacity: 100%;
}

@media only screen and (max-width: 1000px) {

    .row {
        flex-direction: column;
    }

    .row img {
        width: 80vw;
        height: 80vw;
    }

    .row p {
        opacity: 100%;
        width: 80%;
        text-align: center;
        font-size: 3vw;
        margin-bottom: 4vw;
    }

    #BeaconhousePara2 {
        opacity: 100%;
        width: 80%;
        text-align: center;
        font-size: 3vw;
        margin-bottom: 4vw;
    }
}

/* Footer */

#footer {
    margin-top: 100px;
    background-color: #100f0d;
}

#footer p {

    padding: 25px 0px 25px 100px;

    color: #DA9100;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    letter-spacing: 1.5px;
    text-align: left;
}

#footer p span {
    color: #355E3B;
}

@media only screen and (max-width: 800px) {
    
    #footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 1vw;
    }

    #footer p {

        padding: 25px 20px 25px 20px;

        font-size: 2.3vw;
    }

}
