* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #1A1814;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 10vmin;
    padding: 5vh 0vw;
    color: #DA9100;
}

/* Intro */

.IntroRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.IntroRow img {
    width: 40%;
    opacity: 70%;
    border-radius: 100%;
    transition: 1s ease;
}

.IntroRow img:hover {
    opacity: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.IntroRow p {
    opacity: 70%;
    width: 40%;
    color: #D69F72;
    font-size: 1.5vw;
    font-family: 'Nunito', sans-serif;
    transition: 1s ease;
}

.IntroRow p:hover {
    opacity: 100%;
}

/* Nav */

nav {
    margin-top: 100px;
    padding: 0.5vw;
    background-color: #100f0d7f;
    position: sticky;
    top: 0;
    border: 3px solid #d69f727a;
}

ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5vw;
    padding: 1vw;
}

li a {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;

    color: white;
    text-decoration: none;
    font-size: 3vw;
    font-style: bold;
    font-family: 'Tangerine', cursive;

    transition: ease 0.5s;
    border: 10px solid #355E3B;
    background-color: #355E3B;
}

li a:hover {
    border: 10px solid white;
    background-color: white;
    color: #355E3B;
}

#ContactButton {
    border: 10px solid #DA9100;
    background-color: #DA9100;
}

#ContactButton:hover {
    border: 10px solid white;
    background-color: white;
    color: #DA9100;
}

/* Summaries */

.summary {
    margin-top: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.column p {
    color: #D69F72;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5vw;
    opacity: 70%;
    transition: ease 0.5s;
}

.column p:hover {
    opacity: 100%;
}

.column img {
    width: 40vw;
    height: 30vw;
}

.column a {
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;

    border: 10px solid #DA9100;
    background-color: #DA9100;
    color: #1A1814;
    text-decoration: none;
    font-size: 3vw;
    font-style: bold;
    font-family: 'Tangerine', cursive;

    transition: ease 0.5s;
}

.column a:hover {
    font-size: 3.5vw;
    background-color: #355E3B;
    border-color: #355E3B;
    color: #DA9100;
}

@media only screen and (max-width:600px) {
    .summary {
        flex-direction: column;
    }

    .column img {
        width: 80vw;
        height: 60vw;
    }

    .column a {
        text-align: center;
        font-size: 10vw;
    }

    .column p {
        width: 80vw;
        text-align: center;
        font-size: 3.5vw;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

}


/* Footer */

#footer {
    margin-top: 100px;
    background-color: #100f0d;
}

#footer p {

    padding: 25px 0px 25px 100px;

    color: #DA9100;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    letter-spacing: 1.5px;
    text-align: left;
}

#footer p span {
    color: #355E3B;
}

@media only screen and (max-width: 800px) {
    
    #footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 1vw;
    }

    #footer p {

        padding: 25px 20px 25px 20px;

        font-size: 2.3vw;
    }

}